
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#cat-pic {
    margin: 20px;
    max-width: 700px;
}

#buttons-span {
    display: flex;
    justify-content: space-between;
}

.button {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px;
    border: 1px solid #000;
    
}

.button-image {
    width: 30px;
    height: 30px;
    margin-left: 12px;
    background-color: grey;
}

#score-div {
    margin-bottom: 15px;
}

#comment-span {
    margin-top: 15px;
    margin-left: 40px
}

.comment-element {
    margin-right: 10px;
}


#comment-section {
    width: 1200px; /* Set the desired width */
    height: 500px; /* Set the desired height */
    overflow: auto; /* Add scrollbar if content overflows */
    border: 1px solid black; /* Add a border for clarity */
    margin-top: 40px;
}
